.pasto{
	margin-left: 70px;
	margin-top: 30px;
	width: 1200px;
	height: 600px;
	background: green;
}
.centro{
	border-radius: 100%;
	border-
	background: #ccc;
	width: 140px;
	height: 14
	0px;
	margin-top: -360px;
	margin-left: 600px;
}